<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOU - LMS </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-warning text-light text-center">
                <h2>Nalanda Open University - Learning Management System </h2>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">NOU-LMS</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'registration' %}">Registration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'contactus' %}">Contact Us</a>
                                </li>


                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search"
                                    aria-label="Search" />
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- slider start -->
        <div class="row mt-2">
            <div class="col-sm-12 p-0">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/sl1.jpg' %}"height="400" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/sl2.jpg' %}" height="400" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/sl3.jpeg' %}" height="400" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- slider end -->
        <!-- Main content start -->
         <div class="row mt-2">
            <div class="col-sm-12" style="background-color: lightgrey;min-height: 600px;">
                
                {% block main %}
                    
                {% endblock main %}
                    
            </div>
         </div>
        <!-- Main content end -->
        <!-- footer start  -->
         <div class="row mt-2">
            <div class="col-sm-6 text-center text-light bg-dark">
                <h5>Copyright &copy; to NOU</h5>
            </div>
            <div class="col-sm-6 text-center text-light bg-dark">
                <h5>Developed By : Sandeep Kumar Shahu </h5>
            </div>
         </div>
        <!-- footer end -->
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>

</html>