{% extends 'base1.html' %}

{% load static %}


{% block main %}
<div class="container-fluid p-0 ">
    <!-- Background image start -->

    <div class="row  ">
        <div class="col-sm-12 contact-bg-img1">
            <div class="row pt-4">
                <div class="col-sm-9 mx-auto">
                    <h3 class="text-light">Contact Us</h3>
                    <p class="text-light"> <a href="#" class="text-warning">Home</a> / Contact Us</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image end -->

    <div class="row mt-5">
        <div class="col-sm-9 mx-auto">
            <p class="mb-0 text-uppercase">Contact</p>
            <h3>Contact <span class="text-maroon">Us</span></h3>
        </div>
    </div>
    <!-- Address section start -->

    <div class="row mt-5 justify-content-center gap-5">
        <div class="col-sm-5 contact-bg-img2">

        </div>
        <div class="col-sm-5">
            <p class="text-orange">You can find on us</p>
            <h3 class="text-maroon"><b>Our Address</b></h3>
            <p><span class="text-orange"><b>Address:</b></span> 2nd/3rd Floor,Biscomaun Bhawan,Gandhi Maidan,Patna-
                800001</p>
            <p><span class="text-orange"><b>Telephone :</b></span> 0612-2201013, 0612-2206916</p>
            <p><span class="text-orange"><b>Fax :</b></span> 0612-2201001</p>
            <p><span class="text-orange"><b>Email :</b></span> nou@nou.ac.in</p>
        </div>
    </div>
    <!-- Address section end -->
    <div class="row justify-content-center gap-5 mt-5">
        <div class="col-sm-3 d-flex flex-column align-items-center justify-content-center text-center">
            <div class="cont-location d-flex flex-column align-items-center justify-content-center text-center">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <h4 class="text-maroon my-2"><b>Location:</b></h4>
            <p class="mb-0 mt-3">2nd/3rd Floor, Biscomaun</p>
            <p>Gandhi Maidan, Patna</p>
        </div>
        <div class="col-sm-3  d-flex flex-column align-items-center justify-content-center text-center">
            <div class="cont-location d-flex flex-column align-items-center justify-content-center text-center">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <h4 class="text-maroon mt-2"><b>Email:</b></h4>
            <p class="mb-0 mt-3">nou@nou.ac.in</p>
            <p>registrar@nou.ac.in</p>
        </div>
        <div class="col-sm-3  d-flex flex-column align-items-center justify-content-center text-center">
            <div class="cont-location d-flex flex-column align-items-center justify-content-center text-center">
                <i class="fa-solid fa-phone"></i>
            </div>
            <h4 class="text-maroon mt-2"><b>Phone:</b></h4>
            <p class="mb-0 mt-3">0612-2201013</p>
            <p>0612-2206916</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.3674831442177!2d80.96215187489541!3d26.923562159625238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd7e0637bf21%3A0x730fe46201abc68a!2sSoftpro%20Learning%20Center!5e0!3m2!1sen!2sin!4v1789295102148!5m2!1sen!2sin" width="600" height="450" style="border:0; height: 450px; width: 100%; margin: 0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
        </div>
    </div>
</div>

{% endblock main %}