{% extends 'base1.html' %}
{% load static %}

{% block main %}
<div class="container-fluid p-0">
    <div class="row  ">
        <div class="col-sm-12 contact-bg-img1">
            <div class="row pt-4">
                <div class="col-sm-9 mx-auto">
                    <h3 class="text-light">Courses</h3>
                    <p class="text-light"> <a href="#" class="text-warning">Home</a> / Courses</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-9 mx-auto">
            <p class="mb-0 text-uppercase">Courses</p>
            <h3 class="text-uppercase">Our <span class="text-maroon">Courses Detail</span></h3>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-7 mx-auto  d-flex justify-content-center gap-3">
            <button class="course-btn border bg-warning text-light">All</button>
            <button class="course-btn">UG Courses</button>
            <button class="course-btn">PG Courses</button>
            <button class="course-btn">Diploma Courses</button>
            <button class="course-btn"> Certification Courses</button>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co1.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Bachelor in Business Administration</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 3 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co2.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Bachelor in Computer Application</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 3 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co3.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Bachelor of Arts(Geography)</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 3 years</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co4.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Bachelor of Arts(Geography)</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 3 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co5.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Bachelor of Library & Information Science</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 1 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co6.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Bachelor of Science(Chemistry)</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 3 years</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co7.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Master of Arts (Environmental Science)</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co8.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Master of Arts(Sanskrit)</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co9.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Master in Computer Application</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co10.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Master of Commerce</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co11.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Master of Science(Physics)</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co12.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Master in Library and Information Science</p>
                <p class="text-center"><b>Under Graduation Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co13.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">PG Diploma in Financial Management</p>
                <p class="text-center"><b>Diploma Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co14.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Post Graduation Diploma (Hindi-English Translate)</p>
                <p class="text-center"><b>Diploma Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co15.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Post Graduation Diploma (Yogic Studies)</p>
                <p class="text-center"><b>Diploma Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co16.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Post Graduation Diploma (Information and Public Relations)</p>
                <p class="text-center"><b>Diploma Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co17.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Post Graduation Diploma (Marketing Management)</p>
                <p class="text-center"><b>Diploma Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co18.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Post Graduation Diploma (Journalism & Mass Communication)</p>
                <p class="text-center"><b>Diploma Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 2 years</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co19.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Certificate in Abolition of Child Labour</p>
                <p class="text-center"><b>Certification Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 1 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co20.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Certificate in Artificial Insemination and Minor Veterinary Services</p>
                <p class="text-center"><b>Certification Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 1 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co21.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Certificate in Bio-Fertilizer Production</p>
                <p class="text-center"><b>Certification Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 1 years</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center gap-1 mt-5">
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co22.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Certificate in Bhojpuri Language</p>
                <p class="text-center"><b>Certification Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 1 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co23.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Certificate in Basic Medical Assessment and Nursing Care</p>
                <p class="text-center"><b>Certification Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 1 years</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="course-img-outer">
                <img src="{% static 'images/co24.png' %}" class="img-fluid" alt="">
                <p class="text-maroon text-center py-2 mb-0">Certificate in Child Psychology and Guidance</p>
                <p class="text-center"><b>Certification Course</b></p>
                <p class="text-center"><span class="text-warning">Duration:</span> 1 years</p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}