{% extends 'base1.html' %}
{% load static %}


{% block main %}
<div class="container-fluid p-0">
    <div class="row  ">
        <div class="col-sm-12 contact-bg-img1">
            <div class="row pt-4">
                <div class="col-sm-9 mx-auto">
                    <h3 class="text-light">Courses</h3>
                    <p class="text-light"> <a href="#" class="text-warning">Home</a> / Services</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-9 mx-auto">
            <p class="mb-0 text-uppercase">Features</p>
            <h3 class="text-uppercase">Student <span class="text-maroon">Services</span></h3>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="services-outer d-flex">
                <div>
                    <img src="{% static 'images/Service1.png' %}" height="80" alt="">
                </div>
                <div class="ps-4">
                    <h5 class="text-warning">Login</h5>
                    <p>Make your way into the portal through the login page where different users are provided with a username and password to gain access to theuniversity’s programs and other learning related materials</p>
                </div>
            </div>
        </div>
       <div class="col-md-5">
            <div class="services-outer  d-flex">
                <div>
                    <img src="{% static 'images/Service2.png' %}" height="80" alt="">
                </div>
                <div class="ps-4">
                    <h5 class="text-warning">Dashboard</h5>
                    <p>The AI-based dashboard will serve as an administrative home page to access key Information about Course Details, Assignments, Quizzes/MCQs, Self-Learning Materials, Course Catalogue, Progress Report, Notifications and other useful tabs. There is a provision for Help to guide ad navigate through the portal.</p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="services-outer d-flex">
                <div>
                    <img src="{% static 'images/Service3.png' %}" height="80" alt="">
                </div>
                <div class="ps-4">
                    <h5 class="text-warning">Self-Learning Material</h5>
                    <p>IThe students enrolled in the university have a wide range of courses available online covering different subjects. These courses include videos, images, word/PDF files,external links, assignments and quizzes for their study material.</p>
                </div>
            </div>
        </div>
       <div class="col-md-5">
            <div class="services-outer  d-flex">
                <div>
                    <img src="{% static 'images/Service4.png' %}" height="80" alt="">
                </div>
                <div class="ps-4">
                    <h5 class="text-warning">e-Books</h5>
                    <p>The E-Books will give a digital access to the self- learning material that are course related e-Contents, presentations, PDF or Word file notes, videos and external links and self-assessment materials for the students like assignments and quizzes on a single platform.</p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="services-outer d-flex">
                <div>
                    <img src="{% static 'images/Service5.png' %}" height="80" alt="">
                </div>
                <div class="ps-4">
                    <h5 class="text-warning">Self-Learning Material</h5>
                    <p>IThe students enrolled in the university have a wide range of courses available online covering different subjects. These courses include videos, images, word/PDF files,external links, assignments and quizzes for their study material.</p>
                </div>
            </div>
        </div>
       <div class="col-md-5">
            <div class="services-outer  d-flex">
                <div>
                    <img src="{% static 'images/Service6.png' %}" height="80" alt="">
                </div>
                <div class="ps-4">
                    <h5 class="text-warning">e-Books</h5>
                    <p>The E-Books will give a digital access to the self- learning material that are course related e-Contents, presentations, PDF or Word file notes, videos and external links and self-assessment materials for the students like assignments and quizzes on a single platform.</p>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock main %}