{% extends 'studentbase.html' %} 
{% load static %} 
{% block student %}
<div class="container">
    <div class="row bg-primary text-light p-3" style="border-radius: 20px">
        <div class="col-sm-12">
            <h3 class="text-light mb-0">Student Response</h3>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
            <form action="" class="form-group" method="post">
                {% csrf_token %}
                <table class="table" style="margin:auto; width:60%;">
                    <tr>
                        <td>Select Response Type</td>
                        <td>
                            <select name="responsetype"  class="form-select" required>
                                <option value="">---Response Type---</option>
                                <option value="feed">Feedback</option>
                                <option value="comp">Complaint</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Write Your Response</td>
                        <td>
                            <textarea name="responsetext" class="form-control" required></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="bg-success btn text-light">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div> 
</div>
{% endblock %}